@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absCenterX {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

// px * .0625 = em
// phone(iphone SE) = 320px => 52em
// tablet = 832px
// desktop = 1024px
// phone ---- tablet ---- desktop
// 
@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 52em) {
            @content
        }

        ;
    }

    @if $breakpoint==tablet {
        @media (max-width: 64em) {
            @content
        }

        ;
    }
}