$text-color-dark:#323232;
$text-color-light: #cccccc;
$color-white: #fff;
$color-black: #131313;


$transition-default: all 0.3s ease;


// Small phones (iPhone SE)
$breakpoint-sm-min: 320px;
// Small tablets (iPad)
$breakpoint-md-min: 768px;
// Small Desktops
$breakpoint-lg-min: 992px;
// Large Desktops
$breakpoint-xl-min: 1200px;