// Nav Menu Overlay
#nav-menu {
  width: 100%;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .nav-icon {
    text-decoration: none;
    color: lighten($primary-color, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100px;

    &:hover {
      color: $secondary-color;

      @include easeOut;
    }
  }
}