// Menu Overlay
.menu {
  top: 0;
  width: 100%;
  opacity: 0.9;
  text-align: center;
  overflow: hidden;

  &-nav {
    //display: flex;
    list-style: none;
    padding: 0;
  }

  .nav-item {
    display: inline-block;
  }

  .nav-link {
    //position: relative;
    font-size: 20px;

    //padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
  }

  a {
    padding: 0.2rem;
    text-decoration: none;
    color: lighten($primary-color, 30);

    &:hover {
      color: $secondary-color;

      @include easeOut;
    }
  }
}