// Tablets & Small Laptops

@include mediaXs {
    #home {
        display:flex;
        flex-direction: column;
    }
    // #header {
    //     height: 40px;
    // }
    #bio {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 0.9em;
    }
}

// Small phones (iPhone SE)
@include mediaSm {
    
}

// Small tablets (iPad)
@include mediaMd {

    #bio {
        width: $bio-width * 1.5;
        font-size: 1.3em;
        text-align: center;
    }

}

@include mediaLg {
    #bio {
        width: $bio-width * 2;
        font-size: 1.5em;
        text-align: center;
    }

}

@include mediaXl {
    #bio {
        // font-size:1.5em;
        // line-height: 1.8em;
    }
}