@import "config";
@import "menu";

body {
  @include background;

  width: 100%;

  //overflow: hidden;
  overflow-x: hidden;
}

#header {
  grid-area: header;
  text-align: center;

  a {
    text-decoration: none;
    color: darken($primary-color, 30);

    &:hover {
      color: $secondary-color;

      @include easeOut;
    }
  }
}

#bio {
  grid-area: bio;

  p {
    color: $text-color;
    width: 100%;
  }
}

#nav-menu {
  grid-area: nav-menu;
}

.container {
  //overflow: hidden;
  display: grid;
  grid-template-columns: 50px auto auto 50px;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" ". bio bio ." ". nav-menu nav-menu .";
  justify-content: center;
  justify-items: center;
}