.footer {
    padding: 0 0 5rem 0;
    height: auto;
    font-size: 1.6rem;
    position: relative;
    color: $section-background-color-default;

    &__image {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    &__logo-box {
        text-align: center;
        font-size: 6rem;
    }

    &__navigation {
        padding: 0 1rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;


        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            transform: translateY(-.4rem);
        }
    }

    &__copyright {
        padding: 1rem 0;
    }

    @media only screen and (max-width: 25em) {
        &__link {
            font-size: 1.4rem;
        }
    }
}