.footer {
    // padding: 26rem 0;
    height: 90vh;
    font-size: 1.6rem;
    position: relative;
    // background-color: $color-surface;

    &__image {
        background-image: url(../img/mountains.svg);
        background-size: cover;
        background-position: center top;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        // background-position: center top;
        height: 100%;
        width: 100%;
        z-index: -1;;
    }

    &__logo-box {
        text-align: center;
        font-size: 6rem;
    }

    &__navigation {
        padding: 0 1rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;


        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-on-background;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            transform: translateY(-.4rem);
        }
    }

    &__copyright {
        padding: 1rem 0;
    }

    @media only screen and (max-width: 25em) {
        &__link {
            font-size: 1.4rem;
        }
    }
}