.header-wrapper {
    height: 100vh;
    position: relative;
}

.header {
    width: $section-width;
    height: $section-height;
    max-width: $section-max-width;

    padding: $padding-medium 0;

    background-color: $section-background-color-default;

    display: inline-block;
    position: absolute;
    @include absCenter;
    overflow: hidden;

    border-radius: $border-radius-default;
    box-shadow: $box-shadow-default;

    // The ANDREW PANG part
    &__logo {
        text-align: center;
        animation: moveInTop .7s ease-out;
    }

    &__link {
        padding: 0 1rem;
        text-decoration: none;
        color: darken($color-grey-dark, 10%);
    }

    &__text {
        display: block;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        animation: moveInLeft .7s ease-out;
        color: darken($color-grey-dark, 10%);


        &--main {
            font-size: 2.5rem;
            font-weight: 600;
            letter-spacing: .1rem;
        }

        &--sub {
            display: block;
            font-size: 2rem;
            font-weight: 550;

        }

    }

    @include respond(phone) {
        padding: 2rem 0;

        &__text {
            &--main {
                font-size: 2rem;
            }

            &--sub {
                font-size: 1.5rem;
            }
        }
        
    }

}
