.section-projects {

    @extend .section;
    @extend .section--anchor;

    &__title {
        @extend .section-title;
        @extend .section__content;


        grid-column: 1 / -1;
        justify-self: center;
    }

    &__project-box-container {
        @extend .section__content;
        width: 100%;

        grid-column: 3 / span 8;
        grid-row: 2 / -1;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 16px;
    }

}

@include respond(tablet) {

    .section-projects {

        grid-template-rows: 32px 32px 1fr;

        &__title {
            grid-row: 1 / span 2;
        }

        &__project-box-container {
            grid-column: 1 / -1;
            grid-row: 3 / -1;

            grid-template-columns: 1fr;
        }
    }
}

@include respond(phone) {

    .section-projects {

        grid-template-rows: 32px 32px 1fr;

        &__title {
            grid-row: 1 / span 2;
        }

        &__project-box-container {
            grid-column: 1 / -1;
            grid-row: 3 / -1;

            grid-template-columns: 1fr;
        }
    }
}