.photography-wrapper {
    height: 100vh;
    position: relative;
    transition: all 0.5 ease;
    overflow: hidden;
}

.section-photography {
    height: 90%;
    width: 90%;
    background-color: $color-surface;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all $page-float-out-time ease;
    overflow: hidden;

    border-radius: 10px;
    box-shadow: 0rem 0rem 4rem .2rem rgba($color-black, .2);

    // Hovering over the photography section
    &:hover {
        -webkit-transform: translate3d(-50%,-50%,0) scale(1);
        transform: translate3d(-50%,-50%,0) scale(1);

        .section-photography__heading {
            opacity: 1;
        }

        .section-photography__image {
            -webkit-transform: translate3d(0,0,0) scale(1);
            transform: translate3d(0,0,0) scale(1);
            opacity: .6;
        }

        .section-photography__caption {
            opacity: 1;
        }

        .section-photography__link::before{
            transform: scaleX(1);
            visibility: visible;
        }

        -webkit-backface-visibility: hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
        backface-visibility:     hidden;

    }

    &__heading {
        @include absCenter;
        color: $color-black;
        transition: inherit;
        opacity: 0;
        z-index: 1;

    }

    

    &__link {
        position: relative;
        padding: .5rem;
        text-decoration: none;
        color: $color-black;
        border-radius: 2px;
        letter-spacing: .2rem;
        background-image: linear-gradient(to bottom, transparent 0, transparent 50%, $color-black 50%);
        background-size: 100% 200%;
        transition: all .3s ease;


        &:hover {
            color: $color-white;
            background-position: 0 100%;
            transform: translateY(1rem);

            -webkit-backface-visibility: hidden;
            -moz-backface-visibility:    hidden;
            -ms-backface-visibility:     hidden;
            backface-visibility:     hidden;
        }
    }

    &__link::before {
        content: "";
        height: 4px;
        width: 96%;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        background-color: $color-black;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: 50%;
        -webkit-transition: all .4s ease .2s;
        transition: all .4s ease .2s;
        visibility: hidden;

        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    &__content {
        position: absolute;
        @include absCenter;
        background-color: $color-white;
        
    }

    &__shape {
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: inherit;
        

    }

    &__caption {
        color: $color-white;
        position: absolute;
        bottom: 3rem;
        right: 3rem;
        background-color: rgba($color-black, 0.6);
        padding: $padding-small;
        font-weight: 600;
        letter-spacing: $letter-spacing-medium;
        opacity: 0;
        transition: inherit;
        

    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;

        -webkit-transform: translate3d(0,0,0) scale(1.06);
        transform: translate3d(0,0,0) scale(1.06);
        transition: inherit;
        opacity: 1;
        
    }

}