.section {
    width: 100%;
    // min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 32px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 16px;

}

.section--100vh {
    @extend .section;
    height: 100vh;
}