.section-about-me {

    @extend .section--100vh;
    @extend .section--anchor;


    &__title {
        @extend .section-title;

        grid-column: 1 / -1;
        justify-self: center;
    }

    &__content {
        @extend .section__content;
        grid-column: 3 / span 8;
        grid-row: 2 / -1;

        width: 100%;
        height: 100%;
        display: flex;
    }

    &__bio {
        @extend .text-color;

        align-self: center;
        grid-column: 1 / span 1;

        width: 50%;
    }

    &__img {
        width: 50%;
        text-align: center;
        grid-column: 2 / span 1;

        &-src {
            width: 100%;
            height: 100%;

            border-radius: 1rem;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

        }
    }

    &__link {

        &:link,
        &:visited {
            @extend .text-color;
            font-style: italic;
            text-decoration-line: underline;
        }
    }

}

@include respond(tablet) {

    .section-about-me {
        &__bio {
            grid-column: 1 / span 6;
        }

        &__img-src {
            grid-column: 7 / span 6;
        }
    }
}

@include respond(phone) {
    .section-about-me {
        height: 100vh;

        &__title {
            grid-row: 1 / span 2;
        }

        &__img {
            height: 100%;
            width: 100%;
            grid-column: 1 / -1;
            grid-row: 3 / span 5;

            &-src {
                width: auto;
                height: 100%;
            }
        }

        &__bio {
            grid-column: 1 / -1;
            grid-row: 8 / span 5;

            font-size: 1.2rem;
        }
    }

}