.section {
    width: 100%;
    // min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 32px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 16px;

}

.section__content {
    max-width: 960px;
    justify-self: center;
}

.section--100vh {
    @extend .section;
    height: 100vh;
}

.section--anchor {
    padding-top: 150px;
}

@include respond(tablet) {

    .section {
        padding: 64px;
    }
}

@include respond(phone) {

    .section {
        padding: 32px;
    }
}