.section-header {

    @extend .section--100vh;

    // STATE 1 of the menubar
    // this is when the the user is on top & unscrolled
    // |-------------------------
    // |menubar-for-sticky
    // |-- title
    // |-- site-nav
    &__menubar-for-sticky {
        // desktop default -- menubar to bounded to a 8w x 2h grid
        grid-column: 3 / span 8;
        grid-row: 1 / span 2;
        align-self: center;
        justify-items: center;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;

        width: 100%;
        z-index: 10;
        background-color: $color-white;

        &__title {
            @extend .section-title;
            grid-column: 1 / -1;
            text-align: center;
        }

        &__site-nav {
            @extend .text-color;
            @extend .section__content; //this is to bound the site nav width to match the other section content
            grid-column: 1 / -1;
            width: 100%;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            list-style: none;
            justify-content: space-between;
            padding-bottom: 16px;

            &__item {
                align-self: center;
                position: relative;
            }

            &__link {
                text-decoration: none;
                text-transform: lowercase;
                color: $text-color-dark;
            }

        }
    }


    &__img {
        @extend .section__content;
        grid-column: 3 / span 8;
        grid-row: 3 / span 8;


        &-src {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            border-radius: 1rem;

        }
    }

    &__social-links {

        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;

        grid-column: 3 / span 8;
        grid-row: 11 / span 2;
        justify-content: space-evenly;

        &__item {
            align-self: center;
        }

        &__link {

            &:link,
            &:visited {
                @extend .text-color;
            }
        }
    }

}

.icon-default {
    font-size: 3rem;
}


@include respond(tablet) {

    .section-header {

        &__menubar-for-sticky {
            grid-row: 1 / span 2;
            grid-column: 1 / -1;

        }

        &__img {
            grid-column: 1 / -1;
        }

        &__social-links {
            grid-column: 1 / -1;
        }

    }
}

@include respond(phone) {

    .section-header {

        &__menubar-for-sticky {
            grid-column: 1 / -1;
            grid-row: 1 / span 3;
        }

        &__title {
            // grid-row: 1 / span 2;
        }

        &__site-nav {
            // grid-column: 1 / -1;
            // grid-row: 3 / span 1;
        }

        &__img {
            grid-column: 1 / -1;
            grid-row: 4 / span 6;
        }

        &__social-links {
            grid-column: 1 / -1;
            grid-row: 9 / -1;
        }
    }
}

// STICKY TO TEST JS
.sticky {
    position: fixed;
    top: 0;
    box-shadow: 0px 8px 10px -10px rgba(0, 0, 0, 0.25);

    left: 50%;
    transform: translate(-50%, 0);

    @extend .section;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 0;
    padding-bottom: 0;

    .section-header__menubar-for-sticky__site-nav {
        @extend .section__content;
        width: 100%;
        grid-column: 3 / span 8;
    }

    @include respond(phone) {

        .section-header {

            &__menubar-for-sticky {
                grid-column: 1 / -1;
                grid-row: 1 / span 3;
            }

            &__title {
                grid-column: 1 / -1;
            }

            &__site-nav {
                grid-column: 1 / -1;
            }
        }
    }
}

#site-nav-list li.active a {

    // ::before pseudo-element to create an underline for the link
    &::before {
        content: "";
        background: $text-color-dark;
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;

    }
}