.section-projects {

    @extend .section;

    &__title {
        @extend .section-title;

        grid-column: 1 / -1;
        justify-self: center;
    }

    &__project-box-container {
        width: 100%;

        grid-column: 3 / span 8;
        grid-row: 2 / -1;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 16px;
    }

}

@include respond(tablet) {

    .section-projects {
        &__project-box-container {
            grid-column: 1 / -1;
        }
    }
}

@include respond(phone) {

    .section-projects {
        &__project-box-container {
            grid-template-columns: 1fr;
            grid-column: 1 / -1;
        }
    }
}