.about-wrapper {
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 3rem;
}

.section-about {
    width: 100%;
    height: 100%;
    max-width: $section-max-width;
    padding: $section-inner-padding;
    background-color: $section-background-color-default;
    border-radius: $border-radius-default;
    margin: 0rem auto;



    // The Heading -- ABOUT ME
    &__heading {
        font-size: $heading-size-large;
        text-transform: uppercase;
        text-align: center;
        padding: 2rem 0;
        width: 100%;
        color: $color-grey-extra-dark;
        letter-spacing: .2rem;
    }

    // The Flex Box
    &__content {
        height: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        flex: 0 1 auto;
        align-items: flex-start;
    }

    &__left {
        width: 50%;
        height: 100%;
        text-align: left;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__bio {
        color: $color-grey-dark;
        font-size: 1.4rem;
    }

    &__link {

        @extend .txt-link;
    }

    &__icons {
        font-size: $icon-size-small;
        padding: $padding-small 0;
        transition: all .3s ease;
        text-align: center;

        &__list {
            list-style: none;
        }

        &__item {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &__link {

            &:link,
            &:visited {
                display: inline-block;
                color: $color-grey-dark;
                text-decoration: none;

                transition: all .2s ease;

                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;

            }

            &:hover,
            &:active {
                transform: translateY(-.5rem);
            }
        }
    }

    &__photo {
        padding: 2rem;

        border-radius: 4px;
        height: 100%;
    }

    // Remove Photo
    // 56.25em = 900px
    @media only screen and (max-width: 56.25em) {
        &__photo {
            display: none;
        }

        &__left {
            width: 70%;
            text-align: center;
        }

    }


    // 37.5em = 600px
    @media only screen and (max-width: 37.5em) {
        &__left {
            width: 90%;
            // font-size: 1.5rem;
        }
    }

    // 25em = 400px
    @media only screen and (max-width: 25em) {
        &__left {
            // font-size: 1.4rem;
        }
    }

}

// Top level CSS for phone
// phone = 37.5em = 600px
@include respond(phone) {

    .about-wrapper {
        padding: 2rem;
    }

    .section-about__bio {
        font-size: 1.2rem;
    }
}