.section-photography {

    @extend .section--100vh;

    &__title {
        @extend .section-title;

        grid-column: 1 / -1;
        justify-self: center;
    }

    // --------------------------------
    // For the underline under the link
    // --------------------------------
    // &__link::before {
    //     content: "";
    //     height: 4px;
    //     width: 95.5%;
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     background-color: $color-black;
    //     -webkit-transform: scaleX(0);
    //     transform: scaleX(0);
    //     transform-origin: 50%;
    //     -webkit-transition: all .4s ease .2s;
    //     transition: all .4s ease .2s;
    //     visibility: hidden;

    //     -webkit-transform-style: preserve-3d;
    //     transform-style: preserve-3d;
    // }

    &__photography-portal {
        grid-column: 3 / span 8;
        grid-row: 2 / span 5;

        overflow: hidden;
        border-radius: 1rem;

        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

        &__img-src {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__astrophotography-portal {
        grid-column: 3 / span 8;
        grid-row: 7 / span 5;

        overflow: hidden;
        border-radius: 1rem;

        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

        &__img-src {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }



    // If media has hover capability, show project name ONLY and allow hover to show description
    // @media only screen and (hover: hover) {

    //     // Hovering over the photography section
    //     &:hover {
    //         // -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
    //         // transform: translate3d(-50%, -50%, 0) scale(1);
    //         background-color: rgba(#eeeeee, .4);

    //         .section-photography__heading {
    //             opacity: 1;
    //         }

    //         .section-photography__image {
    //             -webkit-transform: translate3d(0, 0, 0) scale(1);
    //             transform: translate3d(0, 0, 0) scale(1);
    //             opacity: .6;
    //         }

    //         .section-photography__figure__figcaption {
    //             opacity: 1;
    //         }

    //         .section-photography__link::before {
    //             transform: scaleX(1);
    //             visibility: visible;
    //         }

    //         -webkit-backface-visibility: hidden;
    //         -moz-backface-visibility: hidden;
    //         -ms-backface-visibility: hidden;
    //         backface-visibility: hidden;

    //     }
    // }

    // @media only screen and (hover: none) {

    //     // -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
    //     // transform: translate3d(-50%, -50%, 0) scale(1);

    //     .section-photography__heading {
    //         opacity: 1;
    //     }

    //     .section-photography__image {
    //         -webkit-transform: translate3d(0, 0, 0) scale(1);
    //         transform: translate3d(0, 0, 0) scale(1);
    //         opacity: .6;
    //     }

    //     .section-photography__figure__figcaption {
    //         opacity: 1;

    //         @media only screen and (max-width: $breakpoint-sm-min) {
    //             font-size: 1rem;
    //         }

    //     }

    //     .section-photography__link::before {
    //         transform: scaleX(1);
    //         visibility: visible;
    //     }

    //     -webkit-backface-visibility: hidden;
    //     -moz-backface-visibility: hidden;
    //     -ms-backface-visibility: hidden;
    //     backface-visibility: hidden;


    // }

    // // Small screen, make photography link font smaller
    // @media only screen and (max-width: 25em) {
    //     &__link {
    //         font-size: 2.5rem;
    //     }
    // }

}