.btn-text {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        font-size: $default-font-size;
        font-weight: 700;
        line-height: $default-font-size;
        background-color: transparent;
        cursor: pointer;
        color: $color-grey-extra-dark;

        transition: all .2s;
        border-bottom: 2px solid $color-grey-dark;
        
    }

    &:hover {
        transform: translateY(-2px);
        
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}