.navigation {
    width: 80%;
    animation: moveInBottom .5s cubic-bezier(.14,.93,.79,1.37) 0.7s;
    animation-fill-mode: backwards;

    padding: 2rem 0;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;

    &__list {
        list-style: none;
        text-align: center;
    }

    &__item {
        display: inline-block;
        text-align: center;
        margin: 1rem 0;

        &:not(:last-child) {
            margin-right: 2.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            transition: transform .4s;
            color: darken($color-grey-dark, 10%);
            letter-spacing: .1rem;
            font-weight: 600;

        }

        &:hover,
        &:active {
            transform: translateY(-1rem);
            border-bottom: 3px solid $color-black;
        }
    }

    &__icon {
        font-size: $icon-size-small;
    }

    &__icon-text {
        display: block;
    }

    @include respond(phone) {
        &__item {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            font-size: 1rem;
        }
    }

}