.navigation {
    width: 60rem;
    animation: moveInBottom .5s cubic-bezier(.14,.93,.79,1.37) 0.7s;
    animation-fill-mode: backwards;

    margin: 0 auto;


    &__list {
        list-style: none;
        text-align: center;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__item {
        display: inline-block;
        text-align: center;
        margin: 1rem 0;

        &:not(:last-child) {
            margin-right: 1.6rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            transition: transform .4s;
            color: darken($color-grey-dark, 10%);
            letter-spacing: .1rem;
            font-weight: 600;

        }

        &:hover,
        &:active {
            transform: translateY(-1rem);
            border-bottom: 3px solid $color-black;
        }
    }

    &__icon {
        font-size: $icon-size-small;
    }

    &__icon-text {
        display: block;
    }

    @media only screen and (max-width: 47.5em) {
        // width: 80%;
        // padding: 0 1rem;
        // font-size: 2rem;
        // &__icon {
        //     font-size: $icon-size-small;
        // }

        // &__item {

        //     &:not(:last-child) {
        //         margin-right: .8rem;
        //     }
        // }
    }

    // phone = 37.5em = 600px
    @include respond(phone) {
        width: 100%;
        padding: 0 1rem;
        font-size: .9rem;
        &__icon {
            font-size: $icon-size-small;
        }

        &__item {

            &:not(:last-child) {
                margin-right: .8rem;
            }
        }
    }

}