.project-box {
    height: 100%;
    width: 100%;
    position: relative;
    // border: 2px solid $color-black;
    // background-color: $color-surface;
    // padding: 0 2rem;
    border-radius: 3px;
    // box-shadow: 0 0rem 4rem rgba($color-black, .15);

    overflow: hidden;
    transition: all .5s;

    &__image {
        height: 100%;
        text-align: center;
        position: relative;
        transition: inherit;

    }

    &__icon {
        @include absCenter;
        font-size: $icon-size-large;
        transition: inherit;

    }

    &__content {
        height: $project-box-name-height;
        width: 100%;
        overflow: hidden;
        font-size: 1.4rem;
        padding: 0 1rem;
        background-color: rgba($color-white, 0.6);
        transition: inherit;
        position: absolute;
        bottom: 0;
    }

    &__name {
        height: $project-box-name-height;
        width: 100%;
        border-bottom: 2px solid $color-black;
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        line-height: $project-box-name-height;
        letter-spacing: $letter-spacing-medium;
        transition: inherit;

    }

    &--1 {
        background-image: linear-gradient(to bottom, rgba($color-white, .2), rgba($color-white, .2)),
            url(../img/project-wind-map.jpg);
        background-size: cover;
        background-position: 50% bottom;
    }

    &--2 {
        background-image: linear-gradient(to bottom, rgba($color-white, .2), rgba($color-white, .2)),
            url(../img/project-cali-housing-map.jpg);
        background-size: cover;
    }

    &--3 {
        background-image: linear-gradient(to bottom, rgba($color-white, .2), rgba($color-white, .2)),
            url(../img/project-gravity-sim.jpg);
        background-size: cover;
    }

    &--4 {
        background-image: linear-gradient(to bottom, rgba($color-white, .2), rgba($color-white, .2)),
            url(../img/project-movie-review.jpg);
        background-size: cover;
    }

    &--5 {
        background-image: linear-gradient(to bottom, rgba($color-white, .2), rgba($color-white, .2)),
            url(../img/project-cranex7.jpg);
        background-size: cover;
        background-position: 50% 72%;
    }

    &:hover,
    &:active {

    }

    &:hover &__name {
        font-size: 1.8rem;
        letter-spacing: $letter-spacing-small;
    }

    &:hover &__content {
        height: 65%;
    }

    &:hover &__image {
        height: 35%;
    }

    &:hover &__icon {
        font-size: $icon-size-medium;
    }

    @media only screen and (max-width: 56.25em),
        only screen and (hover: none) {
            &__name {
                font-size: 1.8rem;
                letter-spacing: $letter-spacing-small;
            }

            &__content {
                height: 65%;
            }
        
            &__image {
                height: 35%;
            }
        
            &__icon {
                font-size: $icon-size-medium;
            }
    }
}