body {
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;

}

.section-title {
    font-size: 3rem;
    line-height: 3.2rem;
    align-self: center;
    color: $text-color-dark;
}

.text-color {
    color: $text-color-dark;
}