.header {

    height: 90vh;
    background-color: $color-grey-light-1;

    &__logo {
        text-align: center;
    }

    &__link {
        text-decoration: none;
        color: $color-grey-dark-3;
    }


    &__heading {
        text-align: center;
        padding: 2rem 0;

        animation: moveInTop .7s ease-out;

    }

    &__text {
        display: block;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        animation: moveInLeft .7s ease-out;

        &--main {
            font-size: 2rem;
            font-weight: 400;
        }

        &--sub {
            display: block;
            font-size: 2rem;
            font-weight: 500;

        }

    }

}
