.header-wrapper {
    // filter: drop-shadow(0 0rem 2rem rgba($color-black, 0.2));
    height: 100vh;
    background-color: $color-background;
    position: relative;
}

.header {

    height: 90%;
    width: 90%;
    background-color: $color-surface;
    display: inline-block;

    position: absolute;
    @include absCenter;
    // overflow: hidden;



    
    //background-image: $home-image;
    //background-size: cover;
    background-position: top;
    // -webkit-clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 0);
    // clip-path: polygon(10% 0, 0 10%, 0% 100%, 90% 100%, 100% 90%, 100% 0%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 4rem .2rem rgba($color-black, .2);

    &__logo {
        text-align: center;
        animation: moveInTop .7s ease-out;
    }

    &__link {
        text-decoration: none;
        color: $color-on-background;
    }

    &__text {
        display: block;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        animation: moveInLeft .7s ease-out;

        &--main {
            font-size: 2rem;
            font-weight: 400;
        }

        &--sub {
            display: block;
            font-size: 2rem;
            font-weight: 500;

        }

    }

}
