.about-wrapper {
    height: 100vh;
    position: relative;

}

.section-about {
    height: 90%;
    width: 90%;
    position: absolute;
    @include absCenter;

    border-radius: 10px;
    padding: 4rem 0;

    background-color: $color-surface;


    &__left, &__right {
        height: 100%;
        width: 49%;
        float: left;
        position: relative;
    }

    &__heading {
        padding-left: 5rem;
    }

    &__content {
        padding: 0 6rem;
    }

    &__photo {
        height: 100%;
        @include absCenter;
        border-radius: 4px;
        // width: 100%;
        // background-image: url(../img/andrewpang-about.jpg);
        // background-size: auto 100%;
        // background-repeat:no-repeat;
    }

}