.project-wrapper {
    height: 100vh;
    background-color: $color-primary;
    position: relative;
}

.section-project {
    background-color: $color-surface;
    position: absolute;
    @include absCenter;
    height: 90%;
    width: 90%;

    border-radius: 10px;
    box-shadow: 0rem 0rem 4rem .2rem rgba($color-black, .2);

    &__left, &__right {
        height: 100%;
        width: 50%;
        float: left;
    }

    &__right {
        padding: 1rem 0;
    }

    &__heading{
        font-size: 4rem;
        letter-spacing: 1rem;
    }

    &__list {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        overflow-y: scroll;

    }

    &__item {
        display: inline-block;
        width: 50%;
    }

}