.project-wrapper {
    // height: 100vh;
    // background-color: $color-background;
    position: relative;
    padding: 5rem 0;
}

.section-project {
    background-color: rgba($color-surface, .7);
    // position: absolute;
    // @include absCenter;
    width: 90%;
    // height: 90%;
    margin: 0 auto;
    padding: 3rem 0;

    border-radius: 10px;
    box-shadow: 0rem 0rem 4rem .2rem rgba($color-black, .2);


    &__heading{
        // height: 10%;
        width: 100%;
    }

    &__content {
        // height: 90%;
        width: 100%;
    }

    &__list {
        height: 100%;
        width: 100%;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        flex: none;
        justify-content: center;

    }

    &__item {
        height: 28rem;
        width: 45%;
        display: inline-block;
        margin: 1rem;
        box-shadow: 0 0 2rem .2rem rgba($color-black, 0.2);
    }

}