.navigation {
    width: 50%;
    animation: moveInBottom .5s cubic-bezier(.14,.93,.79,1.37) 0.7s;
    animation-fill-mode: backwards;

    padding: 2rem 0;
    margin: 0 auto;



    &__list {
        list-style: none;
        text-align: center;
    }

    &__item {
        display: inline-block;
        text-align: center;
        margin: 1rem 0;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            transition: transform .4s;

        }

        &:hover,
        &:active {
            transform: translateY(-1rem);
            border-bottom: 3px solid $color-grey-dark-3;
        }
    }

    &__icon {
        
    }

    &__icon-text {
        display: block;
    }

}