.project-box {
    height: 30rem;
    width: 100%;
    // border: 2px solid $color-black;
    // background-color: $color-surface;
    padding: 0 2rem;
    // border-radius: 3px;
    // box-shadow: 0 0rem 4rem rgba($color-black, .15);


    transition: transform .3s;

    &__image {
        font-size: 5rem;
        text-align: center;        
    }

    &__content {
        font-size: 1.4rem;

    }

    &__name {
        border-bottom: 2px solid $color-black;
        margin-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
    }

    &__tech-figure {
        text-align: center;
    }

    &__tech-list {
        list-style: none;
    }

    &__tech-item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__tech-icon {
        font-size: 5rem;
        height: 5rem;
        
    }

    &__tech-icon-text {
        color: $color-on-background;
        opacity: 0;
        transition: all .5s;

    }

    &__tech-figure:hover &__tech-icon-text {
        opacity: 1;
    }
}