*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is.
    // 10/16 = .625
    font-size: 62.5%;

}

body {
    box-sizing: border-box;
    background-image: linear-gradient(0deg, rgba(217,95,95,1) 15%, rgba(49,67,158,1) 45%, rgba(30,24,97,1) 80%, rgba(6,2,20,1) 100%);
}