body {
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;

}

.heading-primary {

}

.heading-secondary {

}

.heading-third {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}