@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absCenterX {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

  //Landscape (height)
@mixin mediaSmLandscape {
    @media (max-height: 330px) {
      @content;
    }
  }
  
  
  // Media Query Mixins
  // @mixin mediaXs {
  //   @media (max-width: 280px) {
  //     @content;
  //   }
  // }
  
  // Smaller displays
  @mixin mediaXs {
    @media (max-width: #{$breakpoint-sm-min - 5}) {
      @content;
    }
  }
  
  // Small phones (iPhone SE)
  @mixin mediaSm {
    @media (min-width: #{$breakpoint-sm-min}) {
      @content;
    }
  }
  
  // Small tablets (iPad)
  @mixin mediaMd {
    @media (min-width: #{$breakpoint-md-min}) {
      @content;
    }
  }
  
  @mixin mediaLg {
    @media (min-width: #{$breakpoint-lg-min}) {
      @content;
    }
  }
  
  @mixin mediaXl {
    @media (min-width: #{$breakpoint-xl-min}) {
      @content;
    }
  }