$color-primary: #4caf50;
$color-primary-light: #80e27e;
$color-primary-dark: #087f23;

$color-secondary: #546e7a;
$color-secondary-light: #819ca9;
$color-secondary-dark: #29434e;

$color-background: #ffffff;
$color-surface: #eeeeee;
$color-error: #b00020;

$color-on-primary: #000000;
$color-on-secondary: #ffffff;
$color-on-background: #000000;
$color-on-surface: #000000;
$color-on-error: #ffffff;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 0rem;
$gutter-vertical-small: 0rem;
$gutter-horizontal:0rem;


// IMG



/////////

$show-home-image: true;
$background-opacity: 0.5;
$nav-icon-width: 7em;
$nav-icon-height: 4em;

$nav-menu-width: auto;
$nav-menu-height: auto;
$nav-item-width: auto;
$nav-item-height: auto;

$bio-width: 250px;

// Small phones (iPhone SE)
$breakpoint-sm-min: 320px;
// Small tablets (iPad)
$breakpoint-md-min: 768px;
// Small Desktops
$breakpoint-lg-min: 992px;
// Large Desktops
$breakpoint-xl-min: 1200px;