$primary-color: #444;
$secondary-color: #597859;
$text-color: rgb(221, 221, 221);
$show-home-image: true;
$home-image: url(../img/andrewpang-home-img.jpg);
$background-opacity: 0.5;
$nav-icon-width: 7em;
$nav-icon-height: 4em;

$nav-menu-width: auto;
$nav-menu-height: auto;
$nav-item-width: auto;
$nav-item-height: auto;

$bio-width: 250px;

// Small phones (iPhone SE)
$breakpoint-sm-min: 320px;
// Small tablets (iPad)
$breakpoint-md-min: 768px;
// Small Desktops
$breakpoint-lg-min: 992px;
// Large Desktops
$breakpoint-xl-min: 1200px;